<h1>İşlemler</h1>
<div class="col-md-4">
    <ol>
        <li>Öğrenci İşlemleri İçin <a href="ogrenciler/index">Tıklayınız</a></li>
        <li>Öğretmen İşlemleri İçin <a href="ogretmenler/index">Tıklayınız</a></li>
        <li>Sınıf İşlemleri İçin <a href="siniflar/index">Tıklayınız</a></li>
    </ol>
</div>